.agents/
.azure-pipelines/
.cache/
.changeset/
.claude/
.git/
.husky/
.ignore/
.vscode/
build/
coverage/
node_modules/
tests/
.bun-version
.dockerignore
.env*
.gitignore
bundle-stats.*
CHANGELOG.md
commilint.config.mjs
Dockerfile
junit*
lint-staged.config.mjs
Makefile
oxfmt.config.ts
oxlint.config.ts
vitest.config.ts
